/LayerCollapse/cifar-10-batches-py/

/LayerCollapse/data/

/LayerCollapse/base_model.pth

/LayerCollapse/vgg.cifar.pretrained.pth

/LayerCollapse/ece226_sp23_lab1.ipynb

/LayerCollapse/finetuneModel.pth

/LayerCollapse/temp_best_model.pth

/LayerCollapse/best_sparse_model_checkpoint.pth

regularization_tests/data/*.pth
regularization_tests/data/cifar10/
regularization_tests/data/cifar100/
regularization_tests/data_cifar100/*.pth
regularization_tests/data_cifar10/*.pth